[advisories]
vulnerability = "deny"
unmaintained = "warn"
unsound = "warn"
yanked = "warn"
notice = "warn"

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
deny = [{ name = "openssl" }]
skip = []
skip-tree = []

[licenses]
unlicensed = "deny"
confidence-threshold = 0.8
# copyleft = "deny"

allow = [
    "MIT",
    "MIT-0",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Unlicense",
    # https://github.com/briansmith/ring/issues/902
    "LicenseRef-ring",
    # https://github.com/briansmith/webpki/issues/148
    "LicenseRef-webpki",
    # https://github.com/rustls/webpki/blob/main/LICENSE ISC Style
    "LicenseRef-rustls-webpki",
]

exceptions = [
    # CC0 is a permissive license but somewhat unclear status for source code
    # so we prefer to not have dependencies using it
    # https://tldrlegal.com/license/creative-commons-cc0-1.0-universal
    { allow = ["CC0-1.0"], name = "secp256k1" },
    { allow = ["CC0-1.0"], name = "secp256k1-sys" },
    { allow = ["CC0-1.0"], name = "tiny-keccak" },
    { allow = ["CC0-1.0"], name = "more-asserts" },
    { allow = ["CC0-1.0"], name = "aurora-engine-modexp" },
]

[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[[licenses.clarify]]
name = "webpki"
expression = "LicenseRef-webpki"
license-files = [{ path = "LICENSE", hash = 0x001c7e6c }]

[[licenses.clarify]]
name = "rustls-webpki"
expression = "LicenseRef-rustls-webpki"
license-files = [{ path = "LICENSE", hash = 0x001c7e6c }]

[sources]
unknown-registry = "warn"
unknown-git = "deny"
# TODO: remove, see ./Cargo.toml
allow-git = ["https://github.com/alloy-rs/alloy", "https://github.com/bluealloy/revm", "https://github.com/alloy-rs/core"]
